.nav-bar {
  width: 100%;
  position: sticky;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin: 10px 30px 10px 30px;
    height: 50px;
    width: 100px;
    background-size: 100px;
    background-image: url('../images/sofa-logo.png');
    background-repeat: no-repeat;
  }

  .user-container {
    margin: 5px 30px 5px 20px;
  }
}