.properties {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin: 15px 5px 5px 5px;
  text-align: center;
  border-radius: 15px;
  padding: 12px;
  box-shadow: rgb(0 0 0 / 12%) 0 1px 8px;
  img {
    border-radius: 10px;
    padding: 7px 0 7px 0;
  }
}