.properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 15px 5px 20px 5px;
  text-align: center;
  border-radius: 15px;
  padding: 12px;
  box-shadow: $box-shadow;
  img {
    border-radius: 10px;
    padding: 7px 0 7px 0;
  }
}

.main-image {
  img {
    max-width: 100%;
    border-radius: 10px;
    margin: 0 0 20px 0;
  }
}
