@import "navbar";
@import "properties";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
  display: flex;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: darkgrey;
  flex-direction: column;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}