@import "navbar";
@import "properties";
@import "footer";
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: darkgrey;
}

.container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  border: 1px solid lightcoral;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}

.review-card {
  padding: 10px;
}

.reviews {
  display: flex;
  padding: 10px;
}

.break {
  height: 1px;
  width: 70%;
  background-color: lightcoral;
  margin-bottom: 20px;
}